---
import astroLogo from '../assets/astro.svg';
import background from '../assets/home-background.png';
import Contact from "../components/Contact.astro";
import Text from "../components/AboutMeText.astro";
import "bootstrap/dist/css/bootstrap.min.css";
---

<main class="row flex-column flex-xl-row space-between">
	<div class="col-12 col-xl-5">
		<Contact/>
	</div>
	<div class="col-12 col-xl-7">
		<Text />
	</div>
</main>

<style>
    main {
		min-height: 100%;
		min-width: 100%;
		display: flex;
		justify-content: center; 
		align-items: start;
        padding-top: 2rem;
		flex-wrap: wrap;
	}

	.col-12 {
        flex: 1 1 100%; /* Allow columns to resize dynamically */
        max-width: 100%; /* Ensure columns do not exceed the screen width */
    }

    .col-xl-5, .col-xl-7 {
        flex: 1 1 auto; /* Allow columns to resize dynamically */
        max-width: 100%; /* Ensure columns do not exceed the screen width */
    }
</style>
