---
import astroLogo from '../assets/astro.svg';
import background from '../assets/home-background.png';
import "bootstrap/dist/css/bootstrap.min.css";
---

<main class="row flex-column flex-xl-row space-between">
	<section id="hello" class="col-12 col-xl-6 col">
		<h2 class="row-6">welcome!</h2>
		<h2 class="row-6">my name is</h2>
	</section>
	<section id="name" class="col-12 col-xl-6">
		<div id="evelyn">
			<h1 >EVELYN XIAO</h1>
		</div>
		<div id="info">
			<div class="info primary">
				<h3>northeastern undergraduate</h3>
				<h3>|</h3>
				<h3>computer science major</h3>
				<h3>|</h3>
				<h3>matcha lover</h3>
				<h3>|</h3>
				<h3>gym goer</h3>
				<h3>|</h3>
				<h3>dog mom</h3>
				<h3>|</h3>
				<h3>film/photography enthusiast</h3>
				<h3>|</h3>
				<h3>valorant player</h3>
				<h3>|</h3>
				<h3>northeastern undergraduate</h3>
				<h3>|</h3>
				<h3>computer science major</h3>
				<h3>|</h3>
				<h3>matcha lover</h3>
				<h3>|</h3>
				<h3>gym goer</h3>
				<h3>|</h3>
				<h3>dog mom</h3>
				<h3>|</h3>
				<h3>film/photography enthusiast</h3>
				<h3>|</h3>
				<h3>valorant player</h3>
				<h3>|</h3>
			</div>
		</div>
		
	</section>
</main>

<style>

	main {
		position: relative;
		width: 100%;
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#hello {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		gap: 0rem;
	}

	#hello h2 {
		color: white;
		font-family: 'PT Serif';
		font-size: 5vw;
	}

	#name {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#info {
		overflow-x: hidden;
	}

	.info {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 5px;
		white-space: nowrap;
	}

	#name h1{
		color: white;
		font-size: 6vw;
		font-family: 'PT Seriff';
		width: fit-content;
		text-align: end;
	}

	#evelyn h1 {
		align-items: end;
		width: 100%;
		margin: 0px;
	}

	.info h3 {
		font-size: 1rem;
		color: white;
	}

	.primary {
    	animation: primary 45s linear infinite;
	}

	@keyframes primary {
		from {
			left: 0%;
		}
		to {
			left: -161.5%;
		}
	}
</style>
