---
import astroLogo from '../assets/astro.svg';
import background from '../assets/home-background.png';
import "bootstrap/dist/css/bootstrap.min.css";
---

<div id="container" class="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main class="row container">
		<section id="hello" class="col-12 col-xl-6">
			<h2 class="row-6">welcome!</h2>
			<h2 class="row-6">my name is</h2>
		</section>
		<section id="name" class="col-12 col-xl-6">
			<div id="evelyn">
				<h1 >EVELYN XIAO</h1>
			</div>
			<div id="info">
				<div class="info primary">
					<h3>northeastern undergraduate</h3>
					<h3>|</h3>
					<h3>computer science major</h3>
					<h3>|</h3>
					<h3>matcha lover</h3>
					<h3>|</h3>
					<h3>gym goer</h3>
					<h3>|</h3>
					<h3>dog mom</h3>
					<h3>|</h3>
					<h3>film/photography enthusiast</h3>
					<h3>|</h3>
					<h3>valorant player</h3>
					<h3>|</h3>
					<h3>northeastern undergraduate</h3>
					<h3>|</h3>
					<h3>computer science major</h3>
					<h3>|</h3>
					<h3>matcha lover</h3>
					<h3>|</h3>
					<h3>gym goer</h3>
					<h3>|</h3>
					<h3>dog mom</h3>
					<h3>|</h3>
					<h3>film/photography enthusiast</h3>
					<h3>|</h3>
					<h3>valorant player</h3>
					<h3>|</h3>
				</div>
			</div>
			
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		width: 100%;
		justify-content: center;
	}

	main {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#hello {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		gap: 0rem;
	}

	#hello h2 {
		color: white;
		font-family: 'PT Serif';
		font-size: 4rem;
	}

	#name {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#evelyn {
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	#info {
		overflow-x: hidden;
		padding: 10px;
	}

	.info {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 5px;
		white-space: nowrap;
	}

	#name h1{
		color: white;
		font-size: 5rem;
		font-family: 'PT Seriff';
		width: fit-content;
	}

	.info h3 {
		font-size: 1rem;
		color: white;
	}

	.primary {
    	animation: primary 45s linear infinite;
	}

	@keyframes primary {
		from {
			left: 0%;
		}
		to {
			left: -161.5%;
		}
	}
</style>
