---
import NavBar from "../components/NavBar.jsx";
const currentPath = Astro.url.pathname;
import background from '../assets/home-background.png';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Evelyn Xiao</title>
  </head>
  <body>
    <NavBar client:only="react" currentPage={currentPath} />
    <div id="container" class="">
      <img id="background" src={background.src} alt="" fetchpriority="high" />
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
		overflow: hidden;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		width: 100%;
    display: flex;
		justify-content: center;
		overflow-x: hidden;
    align-items: center;
    padding: 2rem;
	}

</style>
